* {
  margin: 0;
  padding: 0;
  list-style: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: #314668;
}
body {
  padding-top: 50px;
}
p {
  color: #FBFAFB;
  font-size: larger;
}
ul {
  list-style-type: none;
}
li {
  color: #FBFAFB;
  font-size: medium;
}
.link:visited {
  color: #797DB7;
}
link {
  color: #797DB7;
}
table.c tr td {
  padding: 10px;
  min-width: 100px;
  min-height: 75px;
}
table.c tr td:first-child {
  border-right-style: dotted;
  border-right-color: #81968C;
  border-right-width: 1;
}
td {
  color: #FBFAFB;;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #314668;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #797DB7;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 1000;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #FBFAFB;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #81968C;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #81968C;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #7BB0CF;
  }
}


.title_common {
  color: gray;
}
.title_rare {
  color: green;
}
.title_epic {
  color: purple;
}
.title_legendary {
  color: gold;
}
.title_mythic {
  color: red;
}


.achiv {
  border-style: solid;
  border-color: black;
  background-color: #797DB7;
  height: 375px;
  width: 375px;
  border-radius: 25px;
  padding: 15px;
}
.achiv img {
  width: 250px;
}
.achiv:hover {
  transform: scale(1.2);

}


header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: #7BB0CF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0,1);
  z-index: 1;
}
#logo {
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  width: 140px;
  float: left;
  margin: 10px 0px 0px 50px;
  font-size: 25px;
  font-weight: bold;
  color: #FBFAFB;
}
#logo:hover {
  opacity: 0.5;
}
#logo span {
  color: #314668;
}
header nav {
  float: right;
  margin: 10px 0 0 50px;
}
header nav ul li {
  color: #314668;
  float: left;
  margin-right: 30px;
}
header nav ul li a {
  transition: all 600ms; -webkit-transition: all 600ms; -moz-transition: all 600ms;-o-transition: all 600ms;
  color: #314668;
  font-size: 25px;
  font-weight: bold;
   
}
header nav ul li a:hover {
  font-size: 25px;
  font-weight: bold;
  color: #FBFAFB;
}

li, #logo {  transition: all 600ms; -webkit-transition: all 600ms; -moz-transition: all 600ms;-o-transition: all 600ms; }